.Header {
    background-color: #3879a5;
    color: #ecf2f1;
    margin-bottom: 2rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.showCartBtn{
    background: transparent;
    border: none;
    color: #efff;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    gap: 0.8rem;
}
.cartIconAndNumber{
    position: relative;
}

.number {
    border: 0.5px solid #fff;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    font-size: 0.7rem;
    line-height: 1.7;
    top: -13px;
    right: -10px;
}